<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013 SAP All rights reserved. Redistribution and use in 
	source and binary forms, with or without modification, are permitted provided 
	that the following conditions are met: * Redistributions of source code must 
	retain the above copyright notice, this list of conditions and the following 
	disclaimer. * Redistributions in binary form must reproduce the above copyright 
	notice, this list of conditions and the following disclaimer in the documentation 
	and/or other materials provided with the distribution. * Neither the name 
	of the SAP nor the names of its contributors may be used to endorse or promote 
	products derived from this software without specific prior written permission. 
	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
	AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
	ARE DISCLAIMED. IN NO EVENT SHALL SAP BE LIABLE FOR ANY DIRECT, INDIRECT, 
	INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
	NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
	DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY 
	OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
	OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
	ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>frontend.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.sopeco.webui.server.StartUp</listener-class>
	</listener>

	<servlet>
		<servlet-name>databaseManagerRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.database.DatabaseManagerRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseManagerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/databaseManagerRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>systemDetailsRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.SystemDetailsRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>systemDetailsRPC</servlet-name>
		<url-pattern>/sopeco_frontend/systemDetailsRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pushRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.PushRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushRPC</servlet-name>
		<url-pattern>/sopeco_frontend/pushRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>scenarioManagerRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.scenario.ScenarioManagerRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scenarioManagerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/scenarioManagerRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>meControllerRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.scenario.MEControllerRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>meControllerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/meControllerRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mSpecificationRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.scenario.MSpecificationRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mSpecificationRPC</servlet-name>
		<url-pattern>/sopeco_frontend/mSpecificationRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>extensionRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.ExtensionRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>extensionRPC</servlet-name>
		<url-pattern>/sopeco_frontend/extensionRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>executeRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.ExecuteRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>executeRPC</servlet-name>
		<url-pattern>/sopeco_frontend/executeRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>resultRPCImpl</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.ResultRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resultRPCImpl</servlet-name>
		<url-pattern>/sopeco_frontend/resultRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>visualizationRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.VisualizationRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>visualizationRPC</servlet-name>
		<url-pattern>/sopeco_frontend/visualizationRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getRPC</servlet-name>
		<servlet-class>org.sopeco.webui.server.rpc.GetRPCImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRPC</servlet-name>
		<url-pattern>/sopeco_frontend/getRPC</url-pattern>
	</servlet-mapping>


	<!-- HttpServlet for FileExport -->
	<servlet>
		<servlet-name>exportServlet</servlet-name>
		<servlet-class>org.sopeco.webui.server.export.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exportServlet</servlet-name>
		<url-pattern>/sopeco_frontend/export</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>datasetExportServlet</servlet-name>
		<servlet-class>org.sopeco.webui.server.export.DataSetExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>datasetExportServlet</servlet-name>
		<url-pattern>/sopeco_frontend/dataset</url-pattern>
	</servlet-mapping>

</web-app>
