.gwt-PopupPanelGlass {
	z-index: 1000;
}

.gwt-DialogBox {
	z-index: 1001;
}

.transparent-50 {
	opacity: 0.5;
	filter: alpha(opacity =           50);
}

.spc-seperator {
	width: 0px;
	display: block;
	margin: 0 12px;
	overflow: hidden;
}

.spc-TextBox {
	padding: 4px;
}

.spc-Label {
	font-weight: bold;
	color: #333;
}

.hDefaultMargin {
	margin-left: 1em;
}

.bold {
	font-weight: bold;
	color: #333;
}

/* ******************************************* */
/* SOPECO - COMBOBOX */
.spc-ComboBox {
	border: 1px solid #AAA;
	border-radius: 3px;
	padding: 0px 0px;
	position: relative;
}

.spc-ComboBox>input {
	border: none;
	outline: none;
	margin: 1px 2px;
	padding: 3px;
	background: transparent;
	color: #333;
}

.spc-ComboBox>img {
	margin: 0px;
	padding: 2px 8px;
	float: right;
	border-left: 1px solid #AAA;
	background-color: #F7F7F7;
	cursor: pointer;
	border-radius: 0px 2px 2px 0px;
}

.spc-ComboBox>img:hover {
	background-color: #FFF;
}

.spc-ComboBox>.spc-ComboBox-DropDownView {
	position: absolute;
	z-index: 999;
	background-color: white;
	margin-top: 2px;
	border: 1px solid #AAA;
	min-width: 100px;
	border-radius: 3px;
	left: 0;
}

.spc-ComboBox>.spc-ComboBox-DropDownView .spc-ComboBox-FocusPanel {
	padding: 3px 8px;
	cursor: pointer;
	margin: 1px 0;
	cursor: pointer;
}

.spc-ComboBox>.spc-ComboBox-DropDownView .spc-ComboBox-FocusPanel:hover
	{
	background-color: #DDEEFF;
}

.spc-ComboBox>.spc-ComboBox-DropDownView .spc-ComboBox-FocusPanel:focus
	{
	background-color: #CDF;
	outline: 0;
}

.spc-ComboBox>.spc-ComboBox-DropDownView .spc-ComboBox-FocusPanel.highlight
	{
	background-color: #DDEEFF;
}

.sopeco-Tree {
	
}

.sopeco-TreeItem>.sopeco-TreeItem {
	margin-left: 1em;
}

.sopeco-TreeItem>.content>img {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	vertical-align: text-bottom;
}

.sopeco-TreeItem>.content>span {
	display: inline-block;
	line-height: 26px;
	position: relative;
}

/* ******************************************* */
/* ******************************************* */
.allowOverflow {
	overflow: visible !important;
}

#topWarning {
	background-color: #E65;
	text-align: center;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid;
	z-index: 999;
}

#loadingIndicator {
	position: fixed;
	bottom: 6px;
	right: 6px;
	z-index: 999;
	display: none;
}

#refreshIndicator {
	position: fixed;
	bottom: 6px;
	right: 6px;
	z-index: 999;
	display: none;
}

h3 {
	border-bottom: 1px solid #CCC;
	padding: 0.1em;
	color: #333;
}

p {
	font-weight: bold;
	color: #333;
}

.nPanel {
	background-color: #234;
	border-bottom: 1px solid black;
	margin-top: -1px;
	padding-top: 0.2em;
	height: 2.8em;
}

#sapResearchLogo {
	float: right;
	margin: 12px;
	height: 12px;
	width: 121px;
}

.north_hPanel {
	margin-left: 1em;
	float: left;
}

.north_hPanel .tabStyle {
	vertical-align: middle;
	/*background-color: #EEE;
	border-radius: 0 0 .5em .5em;*/
	padding: 0 1em;
	/*border: 1px solid lightgray;
	border-top: 0;
	box-shadow: 0px 0px 6px lightBlue;*/
	color: #AAA;
}

.north_hPanel .tabStyle b {
	color: white;
}

.north_hPanel .tabStyle td {
	height: 3em;
}

.north_hPanel .gwt-Anchor {
	color: #ACF;
	font-weight: bold;
}

.north_hPanel .disabled {
	color: #789 !important;
	text-decoration: none !important;
}

#mainNavigation {
	border-right: 1px solid #CCC;
	background-color: #fafafa;
	overflow: visible !important;
}

#mainNavigation .tlEntry {
	padding: 0.8em 2em;
	display: block;
	font-weight: bold;
	text-decoration: none;
	position: relative;
	color: #666;
	cursor: pointer;
	margin: 0.2em 0;
}

#mainNavigation .tlEntry:hover {
	color: #222;
}

#mainNavigation .tlEntry.marked {
	color: #06C;
	cursor: default;
}

#mainNavigation .tlEntry .marker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	background-color: transparent;
	display: block;
	height: 100%;
}

#mainNavigation .tlEntry.marked .marker {
	background-color: #06C !important;
}

#mainNavigation .tlEntry:hover .marker {
	background-color: #BBB;
}

#mainNavigation .tlEntry .subText {
	color: #AAA;
	font-size: 0.8em;
}

#mainNavigation .slEntry {
	padding: 0.8em 1em 0.8em 3.5em;
	color: #666;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	margin: 0.2em 0;
}

#mainNavigation .slEntry:hover {
	color: #222;
	cursor: pointer;
}

#mainNavigation .slEntry.marked {
	color: #06C;
	cursor: default;
}

#mainNavigation .slEntry .marker {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 5px;
	background-color: transparent;
	display: block;
	height: 100%;
}

#mainNavigation .slEntry .marker.second {
	left: 10px;
}

#mainNavigation .slEntry:hover .marker {
	background-color: #BBB;
}

#mainNavigation .slEntry:hover .marker.second {
	background-color: #EEE;
}

#mainNavigation .slEntry.marked .marker {
	background-color: #06C;
}

#mainNavigation .slEntry.marked .marker.second {
	background-color: #68F;
}

/*  ********************  */
/*    environmentPanel    */
/*  ********************  */
#controllerPanel {
	display: block;
	overflow: hidden;
}

#controllerPanel>#contentWrapper {
	padding: 1em;
}

#controllerPanel>#contentWrapper>.headline {
	padding: 0.5em;
	border-bottom: 1px solid #CCC;
	color: #333;
	font-weight: bold;
}

#controllerPanel>#contentWrapper .gwt-Button {
	padding: 2px 25px;
	float: right;
}

#controllerPanel>#contentWrapper .spc-ComboBox.invalid {
	background-color: #FFF6F6;
}

#controllerPanel>#contentWrapper .spc-ComboBox.invalid .gwt-TextBox {
	color: #A00;
}

#controllerPanel>#contentWrapper .positive {
	color: #3A5;
}

#controllerPanel>#contentWrapper .negative {
	color: #933;
}

#controllerPanel>#contentWrapper .warning {
	color: #C70;
}

#controllerPanel>#contentWrapper .loadingIndicator {
	margin: 0 5px 0 10px;
}

/*  ********************  */
#mecSliderPanel {
	background-color: #fafafa;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	text-align: center;
	padding: 0.5em 0 0;
}

#mecSliderPanel {
	background-color: #eee;
	cursor: pointer;
}

#mecSliderPanel.down {
	border-top: 1px solid #CCC;
}

#mecSliderPanel .slideText {
	color: #666;
	padding-bottom: 0.4em;
}

#mecSliderPanel .slideText {
	color: #333;
}

#medTreePanel {
	display: block;
	height: 100%;
}

.frontendTree {
	
}

.frontendTree .treeItem {
	margin-left: 1.5em;
	position: relative;
	margin-top: 3px;
}

.frontendTree>.treeItem {
	margin-left: 1px;
}

.frontendTree .treeItem .linePanel {
	padding: 0.5em 1em;
	color: #333;
	font-weight: bold;
	height: 22px;
}

.frontendTree .treeItem .linePanel:hover {
	background-color: #f8f8f8;
}

.frontendTree .treeItem .linePanel>.leftDiv {
	margin-left: 1.5em;
	float: left;
	padding-top: 2px;
	cursor: pointer;
}

.frontendTree .treeItem .linePanel>.typeSeperator {
	margin-left: 1em;
	cursor: default;
}

.frontendTree .treeItem .linePanel>.listboxType {
	display: none;
	float: left;
	border: 1px solid #AAA;
	color: #333;
	padding: 0 0 0 .5em;
	margin: 0 0 0 1em;
}

.frontendTree .treeItem .linePanel>input {
	float: left;
	display: none;
	margin: 0;
	margin-left: 1.5em;
	padding: 0 0.5em;
}

.frontendTree .treeItem .linePanel>img {
	cursor: pointer;
	/* float: left; */
	position: absolute;
	left: 0.5em;
}

.frontendTree .treeItem .linePanel>.parameterImg {
	margin-top: 2px;
	cursor: default;
}

.frontendTree .treeItem .linePanel>.actionPanel {
	display: none;
	float: right;
	margin-top: 2px;
}

.frontendTree .treeItem .linePanel:hover>.actionPanel {
	display: block;
}

.frontendTree .treeItem .linePanel>.actionPanel>img {
	vertical-align: sub;
	cursor: pointer;
	margin-right: 0.7em;
}

.frontendTree .treeItem .linePanel>.editableParameter {
	color: #aaa;
	font-weight: normal;
}

.tlEntry #changeSpecImage {
	display: none;
}

.tlEntry.marked #changeSpecImage {
	position: absolute;
	display: block;
	top: 9px;
	right: 6px;
	border: 1px solid #AAA;
	border-radius: 3px;
	background-color: #EEE;
	padding: 1px;
	cursor: pointer;
}

.tlEntry.marked #changeSpecImage:hover {
	background-color: #FFF;
}

#changeSpecPanel {
	background-color: #FAFAFA;
	position: absolute;
	left: 15em;
	top: 2px;
	border: 1px solid #CCC;
	border-left: 1px dotted #E1E1E1;
	z-index: 2;
	box-shadow: 3px 5px 11px -5px #CCC;
}

#changeSpecPanel td {
	padding: 8px;
	color: #666;
}

#changeSpecPanel td:hover {
	padding: 8px;
	color: #333;
	cursor: pointer;
}

#changeSpecPanel td>div.marked {
	color: #06C;
	cursor: default;
}

#changeSpecPanel td>div {
	white-space: nowrap;
}

#changeSpecPanel #addSpecification {
	color: #333;
	opacity: 0.5;
	filter: alpha(opacity =  
		                                                         
		    50);
}

#changeSpecPanel #addSpecification:hover {
	opacity: 1;
	filter: alpha(opacity = 
		                                                         
		     100);
}

#changeSpecPanel #addSpecification>img {
	vertical-align: middle;
	margin-right: 1em;
	margin-bottom: 3px;
}

#specificationTopPanel {
	border-bottom: 2px solid #ccc;
	width: 100%;
	padding: 1em;
}

.clear {
	float: none !important;
	clear: both !important;
}

#assignmentListPanelWrapper {
	right: 0;
	bottom: 0;
}

#assignmentListPanel {
	padding: 1em;
}

#assignmentListPanel .assignmentItem {
	margin-bottom: 0.4em;
	display: block;
}

#assignmentListPanel .assignmentItem>div {
	float: left;
	margin-top: 1px;
}

#assignmentListPanel .assignmentItem>input {
	margin: 0 0 0 20px;
	padding: 2px 8px;
	float: left;
}

#assignmentListPanel .assignmentItem .namespace {
	
}

#assignmentListPanel .assignmentItem .name {
	font-weight: bold;
}

#assignmentListPanel .assignmentItem .type {
	color: #AAA;
	text-transform: uppercase;
}

#selectionViewPanelWrapper {
	border-right: 3px solid #ccc;
	bottom: 0;
}

#selectionViewPanel {
	padding: 1em;
}

.selectionTreeItemLeaf {
	margin-left: 2em;
	padding-left: 1em;
}

.selectionTreeItemLeaf:hover {
	background-color: #E1E7EB;
}

.selectionTreeItemLeaf>span {
	line-height: 26px;
	color: #333;
	font-weight: bold;
}

.selectionTreeItemLeaf>.gwt-CheckBox {
	float: right;
	margin: 4px 4px 0 0;
	line-height: 0;
}

#toggleSelectionPanel {
	position: absolute;
	display: block;
	background-color: #EEE;
	border: 1px solid #BBB;
	top: 40%;
	cursor: pointer;
	border-radius: 10px 10px 0px 0;
	color: #888;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	height: 20px;
	width: 200px;
	text-align: center;
}

#toggleSelectionPanel:hover {
	background-color: #f8f8f8;
}

#assignmentListPanelWrapper h3,#selectionViewPanelWrapper h3 {
	margin: 0 0 1em;
}

#assignmentItemTable {
	display: table;
	margin-left: 2em;
}

#assignmentItemTable>div {
	display: table-cell;
}

#assignmentItemTable>div>div {
	line-height: 28px;
	border-bottom: 1px dashed #CCC;
	padding-right: 1em;
	white-space: nowrap;
}

#assignmentItemTable>div>div>.gwt-TextBox {
	padding: 2px 4px;
	margin-left: 2em;
}

#assignmentItemTable>.columnFirst {
	color: #333;
}

#assignmentItemTable>.columnSecond {
	color: #333;
	font-weight: bold;
}

#assignmentItemTable>.columnThird {
	color: #999;
}

.addExperimentNaviItem {
	opacity: 0.5;
	filter: alpha(opacity =           50);
}

.addExperimentNaviItem:hover {
	opacity: 1;
	filter: alpha(opacity =           100);
}

.addExperimentNaviItem img {
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 10px;
}