html,body {
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

.gwt-DecoratorPanel {
	table-layout: fixed;
}

.gwt-DecoratorPanel .topLeft,.gwt-DecoratorPanel .topRight {
	width: 5px;
}

/*************************************/
.topFilterPanel>* {
	float: left;
}

.topFilterPanel {
	
}

.selectDatabaseDialog .applyButton {
	float: right;
}

.warning-label {
	font-weight: bold;
	margin-left: 16px;
}

.sopeco-imageButton {
	padding-bottom: 0px !important;
	padding-right: 5px !important;
}

.sopeco-notification-bottom {
	left: 1em !important;
	position: fixed !important;
	bottom: 1em;
	z-index: 999;
	top: auto !important;
}

.sopeco-notification-bottom .gwt-HTML {
	margin: 0 16px !important;
}