<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>sopeco_frontend.html</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>databaseManagerRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.database.DatabaseManagerRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>databaseManagerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/databaseManagerRPC</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>startupService</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.StartupServiceImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>startupService</servlet-name>
		<url-pattern>/sopeco_frontend/startupService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>systemDetailsRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.SystemDetailsRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>systemDetailsRPC</servlet-name>
		<url-pattern>/sopeco_frontend/systemDetailsRPC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pushRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.PushRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pushRPC</servlet-name>
		<url-pattern>/sopeco_frontend/pushRPC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>scenarioManagerRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.scenario.ScenarioManagerRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scenarioManagerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/scenarioManagerRPC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>meControllerRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.scenario.MEControllerRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>meControllerRPC</servlet-name>
		<url-pattern>/sopeco_frontend/meControllerRPC</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mSpecificationRPC</servlet-name>
		<servlet-class>org.sopeco.frontend.server.rpc.scenario.MSpecificationRPCImpl
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mSpecificationRPC</servlet-name>
		<url-pattern>/sopeco_frontend/mSpecificationRPC</url-pattern>
	</servlet-mapping>
	
</web-app>
