.mecSettingsView,.mecSettingsView td,.mecSettingsView tr {
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

.mecSettingsView {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.mecSettingsView td>.gwt-TextBox,.mecSettingsView td>.gwt-PasswordTextBox
	{
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	margin: 0;
}

.mecSettingsView .panelStatus {
	margin-top: 6px;
}

.mecSettingsView .panelStatus>* {
	float: left;
	margin-right: 8px;
	margin-bottom: 2px;
}

.mecSettingsView .panelStatus>.reloadImage {
	background-size: 14px 14px !important;
	margin: 0px;
	cursor: pointer;
	opacity: 0.8;
	vertical-align: middle;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #eee !important;
	padding: 0px 14px;
	float: right;
}

.mecSettingsView .panelStatus>.reloadImage:hover {
	border-color: #777;
	opacity: 0.9;
}

.mecSettingsView .panelStatus>img {
	background-position: center !important;
	height: 18px !important;
}