.executeConfigTable {
	width: 100%;
	border-spacing: 1em 0.5em;
}

.scheduleConfigTable {
	width: 100%;
	border-top: 1px dotted #CCC;
}

.scheduleConfigTable table {
	border-spacing: 1em 0.5em;
}

.executeSelectionPanel {
	width: 100%;
	border-top: 1px solid #CCC;
}

.executeTabPanel h3 {
	margin: 0.5em 1em 0;
}

.textCenter .gwt-HTML,.textCenter .gwt-TextBox {
	text-align: center;
}

.repeatPanel {
	width: 100%;
	border-top: 1px dotted #CCC;
}

.repeatTable {
	border-spacing: 1em 0.5em;
}

.repeatTable .weekdays .gwt-HTML {
	margin-right: 1em;
}

.repeatTable .checkBoxWidget {
	float: left;
	margin-right: 1em;
}

.repeatTable .checkBoxWidget.notChecked {
	color: #AAA;
}

.tableRepeat {
	border-spacing: 0 !important;
}

.tableRepeat .gwt-HTML {
	padding-left: 2em;
	color: gray;
	white-space: nowrap;
}

.treeItem-Specification {
	padding: 0.5em 1em;
}

.treeItem-Specification>.content {
	font-weight: bold;
	color: #333;
}

.treeItem-Experiment {
	margin-left: 1em;
	line-height: 26px;
}

.treeItem-Experiment .gwt-CheckBox,.treeItem-Specification .gwt-CheckBox
	{
	vertical-align: middle;
	margin-right: 6px;
}

.activeQueueItem {
	background-color: red;
	width: 100%;
	padding: 1em;
	/*box-shadow: 0 0px 5px 0px gray inset;*/
	background-color: #FFFCFA;
	border-spacing: 12px 2px;
	border: 2px solid #ccc;
	border-left: 0;
	border-right: 0;
}

.activeQueueItem .gwt-HTML {
	white-space: nowrap;
}

.activeQueueItem tr:first-child {
	font-weight: bold;
	color: #333;
}

.controllerQueueItem {
	width: 100%;
	background-color: #F3F3F3;
	border-spacing: 12px 2px;
	padding: .50em 1em;
	border-bottom: 1px solid #CCC;
}

.controllerQueueItem  tr:first-child {
	font-weight: bold;
	color: #333;
}

.controllerQueueItem  tr:first-child .gwt-Image {
	vertical-align: sub;
}

.scheduleItem {
	width: 100%;
	padding: .5em 1em;
	border-spacing: 12px 2px;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	background-color: #FAFAFF;
}

.scheduleItem:hover {
	background-color: #F0F4F8;
}

.scheduleItem  tr td:nth-child\(2n\+1\) {
	color: #777;
}

.scheduleItem  tr:first-child td {
	font-weight: bold;
	color: #333;
}

/** ************************************************************* **/
.scheduleItemPanel {
	background-color: #FAFCFF;
	padding: .5em 1em;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #BBB;
}

.scheduleItemPanel:hover {
	background-color: #FAFAFF;
}

.scheduleItemPanel.disabled {
	background-color: #ffe;
}

.scheduleItemPanel .headPanel * {
	float: left;
}

.scheduleItemPanel .headPanel>div:first-child {
	margin-right: 1.5em;
	font-weight: bold;
	color: #333;
}

.scheduleItemPanel .headPanel .gwt-Image {
	margin-right: .5em;
	cursor: pointer;
}

.scheduleItemPanel>table td {
	padding-right: 2em;
}

.scheduleItemPanel>table td .gwt-HTML {
	white-space: nowrap;
}
