/* CSS of the ExperimentView */
#expSettingsPanel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-right: 2px solid #CCC;
	overflow-x: hidden;
	overflow-y: auto;
}

/** expSettingsNamePanel */
#expSettingsNamePanel {
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #CCC;
}

#expSettingsNamePanel td {
	padding: 0.5em 1em;
	position: relative;
}

#expSettingsNamePanel .gwt-HTML,#expSettingsTerminationPanel table .gwt-HTML
	{
	color: #333;
	font-weight: bold;
}

#expSettingsNamePanel .gwt-TextBox,#expSettingsTerminationPanel table .gwt-TextBox
	{
	width: 90%;
	padding: 4px;
	float: right;
}

/** expSettingsPanel */
#expSettingsPanel h3 {
	margin: 1em;
}

/** explorationPanel */
#expSettingsExplroationPanel {
	border-bottom: 2px solid #ccc;
}

/** terminationGrid */
#expSettingsTerminationPanel table {
	padding: 0 1em;
	width: 100%;
}

#expSettingsTerminationPanel table td {
	position: relative;
}

/** ExtensionViews */
.experimentExtensionView table {
	width: 100%;
}

.experimentExtensionView table .gwt-HTML {
	margin-left: 20px;
	line-height: 28px;
	width: 235px;
	white-space: nowrap;
	overflow: hidden;
}

.experimentExtensionView table .gwt-TextBox {
	float: right;
	margin-right: 1.5em;
	padding: 4px;
	width: 100px;
	color: #aaa;
}

.experimentExtensionView table .gwt-TextBox.valueChanged {
	color: #333;
	font-weight: bold;
}

.experimentExtensionView table .gwt-TextBox:focus {
	color: #333;
	font-weight: normal;
}