.loginBox .vPanel {
	border-spacing: 8px;
	width: 100%;
	height: 100%;
}

.loginBox .hPanel {
	border-spacing: 5px;
}

.loginBox .introImage {
	height: 128px;
}

.loginBox .gwt-HTML {
	font-weight: bold;
	white-space: nowrap;
}