.north_hPanel {
	color: #AAA;
}

.north_hPanel b {
	color: #FFF;
}
/*
.topBarSeparator {
	width: 1px;
	height: 39px;
	top: 0;
	right: -10px;
	display: block;
	
	background: #223344;
background: -moz-linear-gradient(top,  #223344 5%, #43597c 50%, #223344 95%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#223344), color-stop(50%,#43597c), color-stop(95%,#223344));
background: -webkit-linear-gradient(top,  #223344 5%,#43597c 50%,#223344 95%);
background: -o-linear-gradient(top,  #223344 5%,#43597c 50%,#223344 95%);
background: -ms-linear-gradient(top,  #223344 5%,#43597c 50%,#223344 95%);
background: linear-gradient(to bottom,  #223344 5%,#43597c 50%,#223344 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223344', endColorstr='#223344',GradientType=0 );

}*/