.north_hPanel {
	color: #AAA;
	float: left;
}

.north_hPanel b {
	color: #FFF;
}

.north_hPanel td {
	padding: 0 6px;
}

.north_hPanel .separator {
	width: 1px;
	height: 39px;
	top: 0;
	right: -10px;
	display: block;
}

.north_hPanel .imgButton {
	cursor: pointer;
	height: 24px;
	width: 24px;
	background-color: #AACCFF;
}

.north_hPanel .imgButton:hover {
	background-color: #FFF;
}

.north_hPanel .imgButton.disabled {
	background-color: lightSlateGray;
	cursor: default;
}