html, body {
	height: 100%;
	width: 100%;
	margin: 0 !important;
}

.gwt-DecoratorPanel {
    table-layout: fixed;
}
.gwt-DecoratorPanel .topLeft,
.gwt-DecoratorPanel .topRight {
    width: 5px;
}

/*************************************/
.spc-seperator {
	background-color: lightGrey;
	width: 1px;
	display: block;
	margin: 0 12px;
	overflow: hidden;
	color: lightGrey;
	border-left: 1px solid lightGrey;
}
.topFilterPanel > * {
	 float: left;
}
.topFilterPanel {
}
.selectDatabaseDialog .applyButton {
	float: right;
}
.warning-label {
	font-weight: bold;
	margin-left: 16px;
}

.sopeco-imageButton {
	padding-bottom:0px !important;
	padding-right:5px !important;
}